/* Give your page a fun background color */
body {
    background-color: lightSkyBlue;
}

/* Make the header and footer a different color from the background */
.header {
    background-color: wheat;
    height: 50px;
}

.footer {
    background-color: darkseagreen;
    height: 50px;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */
p {
    color: purple;
    font-style: italic;

}

/* Put a border around your image */
img {
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
}
/* Change the font-family of your list */
ul {
    font-family: Arial;
}